[2019-08-22 13:21] doyaaaaaken opened #12 "Skip empty line option on reading"
According to the [CSV Specificaton](https://tools.ietf.org/html/rfc4180), an empty line between CSV rows is not allowed.
But, there is a demand for reading that kind of file.

So, we want to set it as csvReader option like below.
[code]

[2019-08-22 13:41] doyaaaaaken opened #13 "Benchmark performance"

[2019-08-22 13:53] doyaaaaaken opened #14 "Contain line number in MalformedCSVException"
MalformedCSVException thrown in CSV parse logic doesn't contain line number.
e.g.
https://github.com/doyaaaaaken/kotlin-csv/blob/22e049823c3629050c67ed631f8baadc99b229f4/src/main/kotlin/com/github/doyaaaaaken/kotlincsv/parser/ParseStateMachine.kt#L66

It's better to inform the malformed position's line number and column number.

[2019-08-22 13:58] doyaaaaaken opened #15 "Multiplatform project"
https://kotlinlang.org/docs/reference/multiplatform.html

[2019-08-22 14:02] doyaaaaaken opened #16 "Publish document"
Like this service
https://www.gitbook.com/

[2019-08-22 14:13] doyaaaaaken opened #17 "Throw Exception when fields' num is different on each row"
[CSV specification](https://tools.ietf.org/html/rfc4180#section-2) says

So, below CSV format is invalid.
[code]

But kotlin-csv doen't throw exception on `CsvFileReader.readAll`, `CsvFileReader.readAllAsSequence` methods when reading this kind of csv data.

[2019-08-22 14:18] doyaaaaaken opened #18 "Output last line terminator option for CsvWriter class"
According to [CSV specification](https://tools.ietf.org/html/rfc4180#section-2),
there may be line break or not at the end of the file.

So, introduce the below option.
[code]

[2019-08-22 14:30] doyaaaaaken opened #19 "Charset auto detection on reading CSV"
Before reading CSV, we should set charset (default is UTF-8).
Introduce auto-detection for CSV file, so become not to need to set charset.

[2019-08-22 15:00] doyaaaaaken opened #20 "Introduce QUOTE_NONNUMERIC on WriteQuoteMode"
In some case, it may be better not to quote the numeric type field. (e.g. In case of opening written CSV with Microsoft Excel)

Below CSV is QUOTE_NONNUMERIC option's example.
[code]

See also
https://github.com/tototoshi/scala-csv/blob/master/src/main/scala/com/github/tototoshi/csv/CSVWriter.scala#L58

[2019-08-22 15:02] doyaaaaaken opened #21 "Receive read results as List<T> type (T is user defined type)"

[2019-08-22 15:03] doyaaaaaken opened #22 "Introduce Detekt"

[2019-08-22 15:07] doyaaaaaken opened #23 "Make it easy to apply setting for TSV read/write setting"
Prepare a set of CsvReaderContext/CsvWriteContext setting for TSV, and enable to use it.

[2019-08-22 15:17] doyaaaaaken opened #24 "Custom formatter for any type on writing CSV"
We can write any type of List<List<Any?>> data.
When writing field, we use Any?.toString().
It's better to customize the output format.

[2019-08-23 00:20] doyaaaaaken opened #25 "Increase coverage on ParseStateMachine"
Test code example.
https://github.com/doyaaaaaken/kotlin-csv/blob/84d7f38aca0cc7fdb05b58cfeb85b5181cebd6e4/src/test/kotlin/com/github/doyaaaaaken/kotlincsv/parser/CsvParserTest.kt#L27

Coverage can be seen here.
https://codecov.io/gh/doyaaaaaken/kotlin-csv/src/master/src/main/kotlin/com/github/doyaaaaaken/kotlincsv/parser/ParseStateMachine.kt

[2019-08-25 12:35] doyaaaaaken opened #28 "Increase coverage on CsvReader.kt"
Coverage can be seen here.
https://codecov.io/gh/doyaaaaaken/kotlin-csv/src/28ef24ad5b128fb1e5ae7d5707e0f4c11009214e/src/main/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvReader.kt

[2019-08-25 12:40] #25 closed

[2019-09-08 08:39] doyaaaaaken commented on #28
Coverage become not to be seen by this commit.
0bb618b371b8155091e3e335fb3afeddbf2c0b7e

[2019-09-08 08:40] #28 closed

[2019-09-08 15:44] doyaaaaaken opened #30 "Add Kotlin/Js build target"
refs #15

[2019-09-08 15:46] doyaaaaaken opened #31 "Add Kotlin/Native build targe"
Add Kotlin/Native build target on the multiplatform project.

[2019-09-08 15:48] doyaaaaaken opened #32 "Pluggable CsvParser by using existing library in JvmMain"
Use existing mature java CSV library as default in JVM project, and make project inherent CsvParser optional.

[2019-09-22 05:48] doyaaaaaken commented on #32
Does not apply this request, because if you want to mature CSV library you can use it.
You can replace this library with another mature library easily.

[2019-09-22 05:48] #32 closed

[2019-09-22 07:03] doyaaaaaken opened #35 "Test for CSV Reader/Writer compatibility"
Test if CSV written by CSVWriter can be read by CSVReader.

[2019-09-22 07:26] #14 closed

[2019-09-22 07:38] doyaaaaaken commented on #16
Published on https://kenta-koyama-biz.gitbook.io/kotlin-csv/

[2019-09-22 07:38] #16 closed

[2019-09-22 07:51] #35 closed

[2019-09-22 14:41] #12 closed

[2019-09-22 15:24] #17 closed

[2020-03-16 12:32] SchweinchenFuntik opened #38 "Error AsSequence"
[code]

output:
[code]

PS: Sorry, I realized the error: you need to rediscover

[2020-03-16 12:40] SchweinchenFuntik commented on #38
I updated it, maybe a bug in the colin code

[code]

[2020-03-16 13:35] SchweinchenFuntik commented on #38
error in parsing ZoneDateTime

[2020-03-16 13:35] #38 closed

[2020-03-27 02:41] devKshitijJain opened #39 "Write Without Header"
With current implementation whenever we write rows, it automatically adds the first row as a header. There should be an option to say no header needed.

[2020-04-01 04:19] doyaaaaaken commented on #39
Hi, @devKshitijJain. Thank you your great feedback!

I think it would be nice to implement `withoutHeader` option like below.
([Document Link about Writer Option](https://github.com/doyaaaaaken/kotlin-csv#customize-1))

[code]

If you could help to implement this, feel free to send pull request.

[2020-04-11 07:22] doyaaaaaken commented on #39
I will work on this.

[2020-04-11 08:11] doyaaaaaken commented on #39
I investigated current specification, and I noticed my previous comment https://github.com/doyaaaaaken/kotlin-csv/issues/39#issuecomment-607021209 is wrong.
I had mistaken the library's behavior.

As investigation, I wrote below code.

[code]

Then I got a csv file below.
[code]

So, as current behavior, kotlin-csv doesn't add the first row as header.
If you'd like to add header, you should write

[2020-04-11 08:11] #39 closed

[2020-04-20 16:25] Dogzik opened #40 "Ability to read line by line file with header"
It is very common to have csv headers in csv files. However not always I can or need to store the whole file in memory. Right now there is possibility either to read file line by line or read all data with header. It would be really useful to be able to do both at the same time

[2020-04-22 00:59] doyaaaaaken commented on #40
Thank you so much for your valuable advice!

I agree your opinition, and I think we need below method.
`fun readWithHeaderAsSequence(): Sequence<Map<String, String>>`

[2020-04-22 07:51] Dogzik commented on #40
Yeah, sounds just as I imagined it

[2020-05-19 03:43] IllusionMan1212 opened #42 "Skip mismatched row fields number option?"
Is it possible to add an option to skip (or even read) rows with different fields number than other rows instead of throwing an exception. I'm willing to PR it myself if you're open to adding this option

Let me know what your thoughts are on this

[2020-05-19 05:29] doyaaaaaken commented on #42
Thanks for your proposal 👍  Let me confirm if I got it.

If we read below csv file with that option, we would get 2 lines (1st and 3rd lines) and the INFO log would be output (the log says `2nd line was skipped because ...` for example).

[code]

I agree with adding this option, and welcome your PR.

[2020-05-23 02:11] doyaaaaaken commented on #40
Great job @blackmo18 ! Changes are included in version 0.8.0.

[2020-05-23 02:11] #40 closed

[2020-05-27 03:02] doyaaaaaken commented on #18
plan to release in version 0.10.0 after some refactoring.

[2020-05-28 06:05] blackmo18 commented on #42
Hello, I tried to implement the skipping of miss-matched number rows.

But I think it has some breaking changes, what I mean is somehow looks like a mess.
it's working but not very good I think.

[please give your thoughts here on my fork](https://github.com/blackmo18/kotlin-csv/commit/2db4c9d9ca1ec5195ce0c6e6d175b78e2ff3fa95#diff-7f66168a33ce49563b2de9fc1ea142ceR52), very much appreciated

[2020-05-28 13:40] doyaaaaaken commented on #42
@blackmo18 I commented on your fork ✅

[2020-05-29 18:23] aitizazsyed02 opened #49 "EROFS (Read-only file system)"
getting this error please help
Caused by: java.io.FileNotFoundException: test.csv: open failed: EROFS (Read-only file system)

[2020-05-30 05:19] doyaaaaaken opened #50 "Bug report template for creating issue"
prepare issue template like this
https://github.com/ktorio/ktor/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

[2020-05-30 05:21] doyaaaaaken commented on #49
Thank you.
Could you give me information about the bug?
For example,

* kotlin-csv version
* environment information (OS, jdk version, etc)
* describe the bug A clear and concise description of what the bug is.
* To Reproduce Steps to reproduce the behavior: (attach sample code)
* Screenshots If applicable, add screenshots to help explain your problem.

[2020-05-31 13:27] #18 closed

[2020-05-31 13:29] #42 closed

[2020-05-31 13:38] doyaaaaaken opened #54 "Output log when skip miss matched row"
Output log when skip miss matched row.
Change code to deal with these TODO comments.
https://github.com/doyaaaaaken/kotlin-csv/blob/29009f976bd24139ead8148ec0b1f6bfc09c6f80/src/jvmMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvFileReader.kt#L47
https://github.com/doyaaaaaken/kotlin-csv/blob/e9b7971fd713fc3d1075481886428513627e8841/build.gradle.kts#L67

Discussed here https://github.com/doy

[2020-05-31 22:05] aitizazsyed02 commented on #49
- kotlin-csv version 0.9.0.
- java version 14
- I tried the exact same code provided in the README file as an example.
- Example used
val row1 = listOf("a", "b", "c")
val row2 = listOf("d", "e", "f")
csvWriter().open("test.csv") {
    writeRow(row1)
    writeRow(row2)
    writeRows(listOf(row1, row2))
}

[2020-06-01 12:54] doyaaaaaken commented on #49
I cannot reproduce the bug... Maybe, this link helps you.[https://stackoverflow.com/questions/27103877/java-io-filenotfoundexception-open-failed-erofs-read-only-file-system](java.io.FileNotFoundException: open failed: EROFS (Read-only file system)).
This article says it makes failure to save file in the root system partition which is always read-only.

[2020-06-01 13:09] doyaaaaaken commented on #50
https://github.com/doyaaaaaken/kotlin-csv/commit/54d9fed2cbf8ad88fcfbcc923822335a4d843a99

[2020-06-01 13:09] #50 closed

[2020-06-01 14:14] #54 closed

[2020-06-02 13:21] aitizazsyed02 commented on #49
What's the location of a file where it will be saved using writeRows and writeAll?
how can we define our custom path?

[2020-06-02 15:25] doyaaaaaken commented on #49
As you see [this line](https://github.com/doyaaaaaken/kotlin-csv/blob/master/src/jvmMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvWriter.kt#L19), the passed file name is simply converted to java.io.File.

Or, you can pass java.io.File instead of file name (String).
[code]

[2020-06-03 03:01] aitizazsyed02 commented on #49
I have storage permission granted. but still this problem occurs. I have noticed it happen in android 10

[2020-06-03 03:01] aitizazsyed02 commented on #49
/storage/emulated/0/Documents/test.csv: open failed: ENOENT (No such file or directory)

[2020-06-03 03:07] doyaaaaaken commented on #49
Sorry, I cannot do anything about java.io.File problem...

[2020-06-08 07:42] kopernic-pl opened #56 "adding kotlin-csv-jvm depenedncy pulls testing libraries into runtime"
**Describe the bug**
When building application (using gradle distZip from application plugin) that depends on kotlin-csv, test libraries are pulled into created application artefact.

**To Reproduce**
Create empty basic kotlin project
add dependency implementation("com.github.doyaaaaaken:kotlin-csv-jvm:0.10.1")

**Expected behavior**
No testing libraries in artefact. To check:
- run `gradle depend

[2020-06-09 00:39] doyaaaaaken commented on #56
Fixes successfully released at version 0.10.4
Thanks @kopernic-pl !! 🙇

[2020-06-09 00:39] #56 closed

[2020-07-15 09:49] davidohana opened #59 "Long-running write"
Please allow writing to csv file without having to close it.
I have a streaming scenario where I need to write each data I get to csv. Closing and reopening after each batch would be suboptimal.

Thanks
David

[2020-07-16 00:05] doyaaaaaken commented on #59
@davidohana
Thank you for your valuable input.

In that scenario, I guess you can write csv from streaming data like below code.
If I'm not understanding your situation correctly, please give me more details.

[code]

[2020-07-16 06:04] davidohana commented on #59
Hello, in the code above, the file handle is closed at the end of the block. I get new data the I need to write to CSV every few seconds and I want to keep writing it to an open file without reopening it.

[2020-07-16 07:08] doyaaaaaken commented on #59
@davidohana
Thanks.
So, does the method `openAndGetRawWriter` described below solve your problem?

[code]

[2020-07-16 07:21] davidohana commented on #59
Yes it should, but I didn't see such a public method.

[2020-07-16 07:31] doyaaaaaken commented on #59
@davidohana
OK, I'll do it soon. If you'd like to implement it by yourself, feel free to tell me and send pull request.

[2020-07-26 09:35] #30 closed

[2020-07-26 09:35] #31 closed

[2020-07-26 09:35] #22 closed

[2020-07-26 09:36] #49 closed

[2020-07-26 09:42] doyaaaaaken commented on #59
@davidohana
released at v0.11.0, thanks.

[2020-07-26 09:42] #59 closed

[2020-07-26 11:46] davidohana commented on #59
Thanks!

[2020-08-21 07:23] blackmo18 commented on #21
Some time ago I made this [kotlin-grass](https://github.com/blackmo18/kotlin-grass) and its using kotlin-csv also. The down side on what I made i think, it is dependent on kotlin-csv result before it processes into user-defined class.

[2020-09-03 18:46] koral-- opened #61 "CsvFileReader#readAllAsSequence fails on non-equal sized rows"
**Describe the bug**
If rows are not equal-sized an exception is thrown:
```com.github.doyaaaaaken.kotlincsv.util.CSVFieldNumDifferentException: Fields num seems to be 4 on each row, but on 2th csv row, fields num is 3.```

**To Reproduce**
[code]

**Expected behavior**
Missing cells are treated as nulls or empty strings.

**Environment**
 - kotlin-csv version 0.11.0
 - OS: Android 10

**Screensho

[2020-09-05 14:48] doyaaaaaken commented on #21
Resolved by above discussion.

[2020-09-05 14:48] #21 closed

[2020-09-05 14:49] #24 closed

[2020-09-06 02:16] doyaaaaaken commented on #61
@koral--
Thanks for reporting!

Throwing exception is expected behavior.
If you change behavior, the `skipEmptyLine` option on CsvReader  is available.
See https://github.com/doyaaaaaken/kotlin-csv#customize

[2020-09-20 11:54] Floern opened #62 "Wrong quotes and missing escape characters on writing CSV with WriteQuoteMode.ALL"
When we use `WriteQuoteMode.ALL`, it does not use the quote character we specified in the `CsvWriteQuoteContext` but just uses `"` instead, and it does not escape any special character at all, even producing invalid CSV output.

Looking at the source code, it's pretty obvious why:
https://github.com/doyaaaaaken/kotlin-csv/blob/8dbaa0742579f354cd973f230cf95dbad39f4263/src/jvmMain/kotlin/com/github/

[2020-09-22 14:46] doyaaaaaken commented on #62
@Floern
That's right. Thank you very much for finding the bug and send me PR!
I wrote the below test code for checking it and it failed.
(And this bug was due to this line you pointed.  https://github.com/doyaaaaaken/kotlin-csv/blob/8dbaa0742579f354cd973f230cf95dbad39f4263/src/jvmMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvFileWriter.kt#L130 )

[code]

[2020-09-25 11:07] #62 closed

[2020-09-25 11:07] doyaaaaaken commented on #62
released at v0.11.1

[2020-09-25 14:59] jnfeinstein opened #64 "Improvement: Read one row at a time"
Currently the only way to interact with a CSV is to parse all rows.  Two use-cases that this does not cover are:
* Reading _only_ the header.  This is useful if you wish to provide a breakdown of what is included in the file.  While it _should_ be trivial to do without a library, the existence of this library and its parsing logic supports the position that this is a non-trivial task.
* Reading ro

[2020-09-26 08:30] doyaaaaaken commented on #64
Hi @jnfeinstein, thank for the question.
With the `readNext()` method, you can read one row at a time.
https://github.com/doyaaaaaken/kotlin-csv#read-line-by-line

I think this feature is enough to deal with your proposed use-cases, isn't it?

[2020-09-26 11:42] jnfeinstein commented on #64
@doyaaaaaken thanks for the timely reply.  I'll attempt to use that and report back.

[2020-09-26 16:37] jnfeinstein commented on #64
[This line](https://github.com/doyaaaaaken/kotlin-csv/blob/master/src/jvmMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvReader.kt#L130) prevents the reader from being used in an asynchronous context.  I believe the intended usage would be similar to:
[code]
This allows the caller to take advantage of the state machine within the CSV reader while giving them the freedom to play with the inp

[2020-09-27 08:03] doyaaaaaken commented on #64
As I wrote on [the principle section on README](https://github.com/doyaaaaaken/kotlin-csv#2-no-need-to-be-aware-of-file-close), I'd like to hide file close process.
So, if you could, I'd like you to use [`open` and `readAllAsSequence` methods](https://github.com/doyaaaaaken/kotlin-csv#read-as-sequence).

But, if there is the use-case to open and close files manually, we need to implement that feat

[2020-09-27 18:00] jnfeinstein commented on #64
My use case is similar to #59 except from the read perspective.

In my opinion this makes sense for the methods that accept `File` or `fileName: String` as an input.  I would expect that the library would handle opening and closing the file because anything else would be an unintended side-effect.  However, an input of type `InputStream` means that the user has manually opened the stream.  The par

[2020-09-28 12:14] doyaaaaaken commented on #64
Actually, I partly agree with your below point. Thanks for your insightful opinion.

But, your providing example seems not to be possible because we can read `InputStream` at most once.
In your example, you read InputStream twice.

On your use-case, you could write codes like a following snippet.

[code]

[2020-09-29 04:10] #23 closed

[2020-09-29 04:10] #19 closed

[2020-09-29 04:11] doyaaaaaken commented on #61
Any other question on this topic? Feel free to ask.
If not, I'll close this issue.

[2020-09-29 09:39] koral-- commented on #61
I don't longer need this library, but can help resolve this issue if needed.

I don't understand your explanation. Could you elaborate?
Is it really intended that CSV written by this library is not readable by itself?

[2020-09-29 11:57] doyaaaaaken commented on #61
The "CSV" definition is defined on [RFC4180](https://tools.ietf.org/html/rfc4180).
It says here.

So, [your sample code](https://github.com/doyaaaaaken/kotlin-csv/issues/61#issue-692202304) doesn't write "CSV" file, so it's not unnatural that kotlin-csv cannot read your writing file.

[2020-09-29 12:53] koral-- commented on #61
OK, thanks. Now I understand the explanation.
One little question then: is it intended that library allows writing a file which does not conform to CSV format?
In this particular case the 2nd `#writeRow()` call may throw an exception (or it can be thrown when closing file, technical details are not important now).

[2020-09-29 15:09] jnfeinstein commented on #64
`InputStream` is an abstract class, allowing the caller to create an implementation that behaves however they wish.  Some of the standard implementations [may even be reset](https://www.tutorialspoint.com/java/io/bufferedinputstream_reset.htm).  The overall point is that closing prematurely may be an undesirable side-effect to some calling applications. 😁

[2020-09-30 03:36] doyaaaaaken commented on #61
Yes, it's intended.

Yes, it should be. To throw exception on the 2nd `writeRow()` call is useful.
At this point, I don't plan to implement this validation by myself, but pull requests are welcomed. 👍

[2020-09-30 03:47] doyaaaaaken commented on #64
I can understand your opinion, but in my sense, to close file like below snippet are not unnatural.
The reason is written as code comment on below snippet.

[code]

[2020-09-30 08:32] koral-- commented on #61
OK so I guess that this issue can be rephrased to something like "Fail fast on writing malformed CSV" and tagged as enhancement., right?

[2020-10-01 08:05] doyaaaaaken commented on #61
Yeah, right. Thank you.
Maybe, it'd be better to create another issue, relate this issue on that, and close this issue.

[2020-10-01 08:42] #61 closed

[2020-10-02 14:42] phanimahesh opened #65 "allow `open` callback (and others) to accept a suspending function"

[2020-10-02 14:55] #65 closed

[2020-10-05 13:37] doyaaaaaken opened #66 "use suspend function inside lambda of `open` method"
In the below code, a compile error happen because suspend function cannot be called inside lambda of `open` function.
So make it callable.

[code]

Discusssion: https://kotlinlang.slack.com/archives/CMAL3470A/p1601651001001000

[2020-10-06 04:14] ltpquang opened #67 "java.lang.NoClassDefFoundError: mu/KotlinLogging"
**Describe the problem**

It quite not a bug, but I'm stuck on this exception:

[code]

It happens only on Ubuntu. MacOS is still fine.

**Environment**
 - kotlin-csv version: 0.11.0
 - java version: java8
 - kotlin version: 1.4.10
 - OS: Ubuntu 18.04.5

Any suggestion on this? Thank you!

[2020-10-07 03:01] ltpquang commented on #67
In my case the Maven try to resolve `mu/KotlinLogging` via JitPack.io instead of Maven Central, and receive an empty Jar, causing such exception.

[2020-10-07 03:01] #67 closed

[2020-10-07 05:46] doyaaaaaken commented on #67
@ltpquang OK, thanks for reporting 🙇

[2020-10-22 03:34] doyaaaaaken commented on #20
released on v0.12.0

[2020-10-22 03:34] #20 closed

[2020-11-04 13:31] doyaaaaaken commented on #66
released at v0.13.0

[2020-11-04 13:31] #66 closed

[2020-11-06 00:06] doyaaaaaken opened #70 "Write in a Suspending function"
Here, we can read in a suspending function.
https://github.com/doyaaaaaken/kotlin-csv#read-in-a-suspending-function
The background is here #66.

It would be better that we can also use `openAsync` on CSVWriter not only on CSVReader.

[2020-11-14 12:17] AndreasVolkmann opened #71 "Reuse config between reader and writer"
When reading/writing you usually want to use the same config, i.e. charset, quoteChar, etc.

It would be great if we could write this config once, and then reuse in both read and write.

Something like:
[code]

[2020-11-16 01:28] doyaaaaaken commented on #71
Thank you for your feedback!

It's not bad idea, but actually the config of reader and writer are different. These have some common config elements, but many are different.
And I think there would be few use-cases to reuse config between reader and writer.

[2020-12-03 12:38] and-marsh commented on #67
I have the same issue with the [kotlin script feature](https://github.com/Kotlin/kotlin-script-examples/blob/master/jvm/main-kts/MainKts.md).
It looks like:
[code]

And this my script:
[code]
Any suggestion?

Anyway, your parser looks great! Thank you for your job!

[2020-12-06 08:19] doyaaaaaken commented on #67
Hi, @and-marsh !
I'm sorry I'm not familiar with the kotlin script feature, but I'll try to describe the cause I imagine.

As you could see [this line](https://github.com/doyaaaaaken/kotlin-csv/blob/master/build.gradle.kts#L65), kotlin-csv uses [kotlin-logging](https://github.com/MicroUtils/kotlin-logging) as a logging library.

And the kotlin-logging depends on slf4j-api, so maybe you would need

[2020-12-12 15:09] blackmo18 commented on #70
created pull request #73

[2020-12-14 01:57] doyaaaaaken commented on #70
released at v0.14.0

[2020-12-14 01:57] #70 closed

[2020-12-22 15:02] scrobbleme opened #74 "Update to Kotlin 1.4.x"
Hi,

Would be nice to see support for latest Kotlin 1.4

Thanks,

Adrian

[2020-12-27 08:24] #64 closed

[2020-12-27 09:15] doyaaaaaken commented on #74
Hi @scrobbleme
Thank you for your feedback! 😄
I did it with the PR #75, and released it as v0.15.0.

BTW, you can also use kotlin-csv's existing version (<=0.14.0) from kotlin1.4 project.
In other words, you can stay your current kotlin-csv version or upgrade now.

[2020-12-27 09:16] #74 closed

[2021-01-19 04:31] NightEule5 opened #76 "Functions that use lambdas should be inlined where possible"
I noticed that functions using lambdas aren't utilizing Kotlin's [`inline`](https://kotlinlang.org/docs/reference/inline-functions.html) keyword. This could have avoidable performance impacts.

Take, for example, this [function](https://github.com/doyaaaaaken/kotlin-csv/blob/master/src/commonMain/kotlin/com/github/doyaaaaaken/kotlincsv/dsl/CsvReaderDsl.kt):

[code]

The JVM doesn't have higher-ord

[2021-01-20 14:25] doyaaaaaken commented on #76
Thank you very much for your useful remarks.
That was a perspective that had been missing.

I'm not familiar with the behavior of inline functions, so I'll look into it right away and figure out how to handle it.

[2021-01-21 05:23] NightEule5 commented on #76
Thanks for the reply. I forked the repository, but couldn't get the `open` functions to work with the tests when inlined ("Wrong bytecode generated" error). Admittedly, my experience with tests is limited though.

[2021-01-26 14:26] doyaaaaaken commented on #76
@NightEule5
I tried too and got an error.
Though, Inline function makes code performance better, but funcitons like `csvReader` , `open` are not often called. So the performance affect is very small.

It seems to work well with just [the diffs on the following three files in your branch](https://github.com/doyaaaaaken/kotlin-csv/compare/master...NightEule5:inline-lambdas), so I'd like to merge onl

[2021-01-28 11:02] AlexanderThiele opened #77 "Asci Null characters between csv Strings"
Hey!
i've parsed a csv and found out, that there is an asci NULL character between every char.

i've used a httpRequest with a ByeInputStream as following:
[code]
the output is a List<List<String>> which is totally correct.
[code]

[code]

This just happens to one csv response which i'm not sure why it happens. It's a report from the Google Play store
The same code works 100% good with other csv f

[2021-01-31 12:53] doyaaaaaken commented on #77
Hi, @AlexanderThiele. Thank you for reporting.
I'm sorry, I couldn't figure it out. Is the Null character originally included in ByeInputStream?
If so, I think kotlin-csv should not do nothing about the Null character.

[2021-02-02 10:19] AlexanderThiele commented on #77
Hey @doyaaaaaken
i investigated this issue a bit more since it's only happening to one csv file and found out that this particular csv file is UTF-16 encoded 🤦‍♂️

i changed the charset: `charset = Charsets.UTF_16.name()`

works fine now!

[2021-02-02 10:19] #77 closed

[2021-02-05 12:27] aladine commented on #67
@and-marsh I am using kotlin script too and the imporing of **kotlin-logging** works for me. My file is like this:
[code]

[2021-03-12 13:02] Phalaen opened #80 "Problem with parsing CSV file with spaces and colon"
Good morning,

I'm trying to use kotlin-csv on a comma delimited file (input stream) but I think there is a problem with managing the spaces and colon.

In particular, these are the first lines of the file:

Device serial,Date ,Temperature 51 (Medium) °C
11869,2021-02-09 00:14:59,7.2
11869,2021-02-09 00:30:01,7.1
11869,2021-02-09 00:44:59,7.2
11869,2021-02-09 00:59:59,7.4
11869,2021-02-09 01:14:58

[2021-03-14 13:59] doyaaaaaken commented on #80
Hi, @Phalaen. Thank you for your feedback.
Under the hood, both to read from `String` and `InputStream` are the same in terms of parsing logic.
So, can you give me a reproductive program like the below code? (The below code correctly works.)

[code]

[2021-03-15 08:22] Phalaen commented on #80
Dear @doyaaaaaken,
thank you, this is my code:

import android.os.Build
import android.os.Bundle
import android.util.Log
import androidx.annotation.RequiresApi
import androidx.appcompat.app.AppCompatActivity
import kotlinx.android.synthetic.main.activity_main.*
import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.launch
import kotlinx.coroutines.withContext
import java.io.*
import andro

[2021-03-15 13:19] doyaaaaaken commented on #80
@Phalaen
I cannot reproduce that in my environment.
Can you check what the InputStream content actually is?
In your code, you can debug it just before `val rows: List<List<String>> = csvReader().readAll(data)` line.

Hint: You can convert InputStream into String by using the below code.
[code]

[2021-03-15 13:29] Phalaen commented on #80
Dear @doyaaaaaken ,
I tried converting inputstream into string and I think the problem is aready here, as the string is only partial:

Device serial,Date ,Rainfall 10 (Accumulated) mm
    11869,2021-02-20,0
    11869,2021-02-21,0
    11869,2021-02-22,0
    11869,2021-02-23,0
    11869,2021-02-24,0.2
    11869,2021-02-25,0
    11869,2021-02-26,0
    11869,2021-02-27,0

Is it normal? This never happ

[2021-03-15 14:20] Phalaen commented on #80
Solved!
Using the string text (val csvContent: String = inputStream.bufferedReader().use(BufferedReader::readText) ) parsing is correctly performed.
Thank you @doyaaaaaken !

[2021-03-15 14:45] #80 closed

[2021-04-04 22:45] StefRe opened #81 "Feature request: Differentiate between empty string and null value"
`readAllWithHeader` yields a `List<Map<String,String>>` and hence empty columns are being read as empty strings, so that we get `""` for both `col1` and `col2` in the following example:
[code]
I'd really like to get `null` for `col2` here (this of course only makes sense if all strings are quoted, otherwise it wouldn't be clear how to interpret empty columns). I understand that you can't change th

[2021-04-06 08:41] doyaaaaaken commented on #81
@StefRe
Thank you for your feedback!!
I'll think about this on weekend, thanks.

[2021-04-09 13:53] doyaaaaaken commented on #81
@StefRe
Thank you for your input.
In your case, you want to regard `""` as empty string and `` as null value.

It's maybe possible to have a case like the one you encountered.
However, I looked at the [RFC 4180](https://tools.ietf.org/html/rfc4180) and considered carefully, then I've felt that your case is a special case in terms of the CSV specification.

I'm very sorry, but I'll wait to deal wit

[2021-04-09 14:22] mykhaylo- opened #82 "number of fields in a row has to be based on the header"
**To reproduce**

Have a csv file with header row with 3 columns and two data rows, first data row with two columns, second - with three. Like this:

First name | Last name | Citizenship
--------|----|----
John | Bobkins
Michael| Pepkins| US

While invoking 'readAllWithHeaderAsSequence' on this file, the CSVFieldNumDifferentException is thrown saying that two colums are expected but three are foun

[2021-04-09 20:06] StefRe commented on #81
Thanks for your reply.
RFC 4180 just describes the file format with empty fields being explicitly allowed:

However, it doesn't say anything about how to _interpret_ the data, specifically it doesn't mention if an empty field should be an empty string or `null`.

For my use case (a mock [`ResultSet`](https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/ResultSet.html) backed by csv

[2021-04-11 14:13] doyaaaaaken commented on #81
@StefRe
Well, thank you for the good suggestions.
I'm convinced of your opinion.
Especially that configuration of OpenCSV seems to be also applicable for kotlin-csv.
I'd like to consider this topic as a feature request and try to implement it.

[2021-04-12 07:21] doyaaaaaken commented on #82
@mykhaylo-
Thank you for reporting!!
I'll investigate this on weekend, thanks.

[2021-04-12 09:34] mykhaylo- commented on #82
@doyaaaaaken thank you.
For your convenience here is the problematic place: https://github.com/doyaaaaaken/kotlin-csv/blob/f4637eb89ed6c1d0d18b23de2405e41294a4c6a9/src/jvmMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvFileReader.kt#L46
Initially "fieldsNum" variable is null and while going over the first data row it is getting initialized with number of fields of this row. Normally when fi

[2021-04-15 02:12] doyaaaaaken commented on #82
@mykhaylo-
Fixed at v0.15.2, thanks for your contribution!! 🙇

[2021-04-15 02:12] #82 closed

[2021-04-22 10:51] theexiile1305 opened #84 "Introduce BOM for Microsoft applications"
Hey there,

thank you very much for this gerat project.

Microsoft applications, for some reason, seem to require a BOM to parse for example UTF-8 files correctly, even though there is no byte order in UTF-8 like there is in 16/32. In order to open a created csv file correctly I suggest to add this special BOM (UTF-8 does require three special bytes `0xEF`, `0xBB` and `0xBF` at the start of the fi

[2021-04-23 12:42] doyaaaaaken commented on #84
@theexiile1305
Thank you for the question. Can you elaborate on this?
Is your problem something like the following?
"CSV files written by kotlin-csv don't have a BOM, so it cannot be read by Excel."

[2021-04-23 13:01] theexiile1305 commented on #84
@doyaaaaaken Thank you for your quick response. Yes of course, I can elaborate on this with the following example:
The csv file can be successfully created like with enabled UTF-8 setting
[code]
If I open this file Google Spreadsheet or Numbers (macOS spreadsheet application), then `Müller` is displayed correct. Inc contrast, `Müller` ist not represented correctly in Excel. In the further analysis

[2021-04-24 19:28] luca992 commented on #15
Are there any bottlenecks preventing you from also targeting native?

[2021-04-26 02:08] doyaaaaaken commented on #15
No, there's no bottleneck.
But I wait to implement it because the multiplatform feature is now experimental and I don't see how big the need for the multiplatform feature is in kotlin-csv.
If this feature is needed, I'll consider it.
Feel free to request it, and tell me the detail of the use case.

[2021-04-26 02:18] luca992 commented on #15
Got it, I was able to parse a csv with okio's new multiplatform file system feature so I'm all good now. You might find it interesting.

[2021-04-26 13:03] doyaaaaaken commented on #84
@theexiile1305
The situation you described has been successfully reproduced by this code, thanks.

[code]

So, I plan to introduce an `includeBOM: Boolean` option on `CsvWriterContext`.
You can use this option like the below snippet.
Do you think this is ok?

[code]

[2021-04-29 12:07] theexiile1305 commented on #84
@doyaaaaaken
Sorry for the late response. The above snippet looks gerat and it's okay for me. Thank you!

[2021-04-30 13:47] theexiile1305 commented on #84
@doyaaaaaken
If you want, I can give a try on that issue. 😄

[2021-04-30 14:07] doyaaaaaken commented on #84
@theexiile1305 Thanks! Please try it.

[2021-05-21 01:21] itegulov commented on #15
@doyaaaaaken my team is interested in multiplatform version of kotlin-csv. We are developing a client-facing SDK that cross-compiles to JVM/Android/iOS/JS (both browser and NodeJS). I understand that some features would be unimplementable, specifically those working with files from browser, so some analysis would have to done in that respect.

We can probably even spare some manpower to work on en

[2021-05-22 12:47] akhattab451 opened #85 "Is there a way to alter existing csv file columns while reading from it?"
For example i have this csv file that includes a column formatted in json, and all i want to do is reformat that field per each row without having to rewrite the whole file

[2021-05-22 13:28] doyaaaaaken commented on #15
@itegulov
Thank you very much. I would be very grateful for your help.

As you can see from the following code, the common code is in the form of receiving String type as an argument, and the rest is defining methods to receive each platform's own type (java.io.File type for Java) as an argument.

Multiplatform: https://github.com/doyaaaaaken/kotlin-csv/blob/master/src/commonMain/kotlin/com/github

[2021-05-24 08:54] doyaaaaaken commented on #85
@akhattab451
Yes, you can do it with [`readAllAsSequence` feature](https://github.com/doyaaaaaken/kotlin-csv#read-as-sequence) or [`readLineByLine` feature](https://github.com/doyaaaaaken/kotlin-csv#read-line-by-line).

[2021-05-25 05:36] itegulov commented on #15
@doyaaaaaken I see. Let me take this discussion internally and I will get back to you on our plans.

[2021-05-26 12:16] #85 closed

[2021-07-30 20:18] ShehanAT commented on #67
Hey,
I ran into a similar error:
[code]
but I was able to resolve it by adding the following to my ```build.gradle``` file:
[code]
(for some reason ```implementation 'io.github.microutils:kotlin-logging-jvm:2.0.10'``` didn't work)

[2021-08-22 13:50] doyaaaaaken commented on #15
The Kotlin/JS feature is implemented by #30. (released at version 1.0.0.)
This issue is renamed into "Kotlin/Native Support".

[2021-09-20 09:50] JulianSudendorf opened #90 "Handle duplicated headers"
Hey @doyaaaaaken thank you very much for this library!

https://github.com/doyaaaaaken/kotlin-csv/blob/48510de1ce9856c672b5871c7363cf56f13633cf/src/commonMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvFileReader.kt#L63-L64

When reading all lines with headers, a duplicate check is performed and `MalformedCSVException` thrown.
Since columns in a row are accessed by their index headers could

[2021-09-23 01:58] doyaaaaaken commented on #90
Hey @JulianSudendorf thank you very much for your feedback!
I totally agree with you.
We would be nice to introduce an option of CsvReader (ex. `autoRenameDuplicateHeaders: Boolean` ).
I'm waiting for your PR!

[2021-11-02 10:00] #90 closed

[2021-11-07 00:08] #71 closed

[2021-11-07 02:11] doyaaaaaken commented on #90
released in v1.2.0

[2022-03-09 10:08] EthanDunfordAspect commented on #84
hey @doyaaaaaken, has this been resolved?

[2022-03-10 06:10] doyaaaaaken commented on #84
Hi @EthanDunfordAspect , this has not been resolved yet.

[2022-03-11 07:07] jpnapps opened #93 "kotlin-csv.kotlin_module: Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.5.1, expected version is 1.1.16."
How to fix this issue ?

[2022-03-11 20:06] vanniktech opened #94 "Remove logger 3rd party library"
Quickly looking at the code it seems like there's only one log statement:

https://github.com/doyaaaaaken/kotlin-csv/blob/8108e5bcc24d55d813868ca3a238aed59a16b628/src/commonMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvFileReader.kt#L48

Do we really need to pull an entire library for logging?

https://github.com/doyaaaaaken/kotlin-csv/blob/ed7a6783313b3d033f3ffe702227b7a3961bc72b/build.g

[2022-03-11 20:07] vanniktech commented on #94
I'd propose to remove that log statement. If you're using `skipMissMatchedRow` you're kind of expecting this behavior.

[2022-03-15 00:25] doyaaaaaken commented on #94
Thanks for the feedback. 👍  I'll consider it in a short time.

[2022-03-15 00:30] doyaaaaaken commented on #93
I'm not sure, but If you were using the Kotlin 1.1.16, you should update it into 1.5.1.
An other person discussed about it.
https://stackoverflow.com/questions/67448034/module-was-compiled-with-an-incompatible-version-of-kotlin-the-binary-version

[2022-03-15 18:11] orpheus opened #95 "java.lang.NoClassDefFoundError: com/github/doyaaaaaken/kotlincsv/dsl/CsvReaderDslKt"
**Describe the bug**
Cannot find the dsl

**To Reproduce**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
 - kotlin-csv version: 1.6.10
 - java version: 11.0.3
 - OS: MacOS

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="373" alt="Screen Shot 2022-03-15 at 12 11 11 PM" src="https://user-imag

[2022-03-15 18:20] orpheus commented on #95
I'm dumb.. just needed to restart my application. Got into the habit of build->hot reload.

[2022-03-15 18:20] #95 closed

[2022-03-21 03:28] doyaaaaaken commented on #94
Hi, @vanniktech, thank you for your useful feedback.

In conclusion, I would like to leave this library dependency as it is.

At first, I think It would be nice to replace the dependency for `kotlin-logger` with that for `slf4j`, but I can't do it because `kotlin-csv` is multiplatform library.
Then, I consider simply removing `kotlin-logger`, but decide to keep it because logging is an important e

[2022-03-21 16:50] vanniktech commented on #94
and that's good!

But then would you want to use a debugger instead of a log statement that goes possibly nowhere, right?

[2022-03-22 12:26] doyaaaaaken commented on #94
I see what you're saying, but [this log message](https://github.com/doyaaaaaken/kotlin-csv/blob/8108e5bcc24d55d813868ca3a238aed59a16b628/src/commonMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvFileReader.kt#L48) is very important information for users of the `skipMissMatchedRow` option.
As of now, I use the kotlin-logger at only one statement, but we would probably use it at other stateme

[2022-03-22 15:53] vanniktech commented on #94
Okay but then would not it be better to have our own `Logger` interface which - if you want logging, you can pass your own instance and to the logging you'd need - and otherwise you're not bothered by it?

[2022-03-23 04:52] doyaaaaaken commented on #94
Sounds like a good idea.
If you have an image of how you would implement it, I would welcome a pull request if you like.

[2022-03-29 05:58] mohit-2003 opened #96 "How to set/get Header"

[2022-04-02 01:53] doyaaaaaken commented on #96
See README
https://github.com/doyaaaaaken/kotlin-csv#read-with-header
https://github.com/doyaaaaaken/kotlin-csv#csv-write-examples

[2022-04-11 15:30] yamin8000 opened #97 "Write directly to a String"
is there any way to write to a String instead of a File?

[2022-04-12 02:18] yamin8000 commented on #97
The preference of only outputting to a `File` or `OutputStream` seems somewhat opinionated or even questionable to me.
It can be beneficial to output directly to a `String` like when you want to send data in Android to other apps or share data using `Intent` or hell this library is so easy to use and usable one can use it for raw-printing database records in logs or a `TextView` for testing purpos

[2022-04-12 12:22] doyaaaaaken commented on #97
Thanks for the feedback.
I think it's a good idea. I'll consider addressing this issue.

Yes, it's a valid workaround for this problem.

[2022-04-16 14:24] #96 closed

[2022-04-16 14:24] #93 closed

[2022-05-07 05:12] doyaaaaaken opened #100 "Make CsvFileReader.readNext() private"
**Problem**

If we use [`readNext` method](https://github.com/doyaaaaaken/kotlin-csv/blob/a59e2187d89d55c585511e16073eb1cfe32d05a5/src/commonMain/kotlin/com/github/doyaaaaaken/kotlincsv/client/CsvFileReader.kt#L35), some options (e.g. `excessFieldsRowBehaviour` option) are bypassed and invalid.

There does not appear to be a use case for this method, so we are considering making it a private metho

[2022-05-16 00:29] bobbyphilip commented on #100
Would be nice to have this (or an equivalent) to be able to just read the header row of a CSV file
( Maybe to just get the names of the columns)

[2022-06-14 02:23] ipat500 commented on #100
I think it would be good to have access to basic CSV parser functionality, without the line length checks or header parsing logic. As a fallback in case you need to parse very unusual CSVs. Or to parse malformed CSVs for error reporting or other purposes.

If a file contains blank rows, or rows with differing numbers of fields, then it is still possible to load these files into Excel. Spreadsheet

[2022-07-09 05:52] doyaaaaaken commented on #94
Released in version 1.4

[2022-07-09 05:52] #94 closed

[2022-07-09 18:22] oliverClimbs opened #102 "Keep input stream open"
I realize that generally it doesn't make sense to keep an input stream open when the end of the stream has been reached, but I'd like to read multiple CSV files that are inside a zip file (without extracting them first).  However, that's currently not possible since the input stream gets closed when the end of the current zip entry is reached.

[2022-07-11 10:35] doyaaaaaken commented on #102
@oliverClimbs
 Hi, thanks for your useful feedback!
I think it's would be good to introduce the `withoutClosingInputStream: Boolean` option on the CSV reader.
https://github.com/doyaaaaaken/kotlin-csv#customize
This option's default value is false, and if true is set the input stream keep open (and you need to close it manually).

Does this idea solve your problem?

[2022-07-11 10:37] oliverClimbs commented on #102
Yes, that would be a good solution.Oliver ---- On Mon, 11 Jul 2022 03:35:48 -0700  ***@***.***  wrote ----
@oliverClimbs
Hi, thanks for your useful feedback!
I think it's would be good to introduce the withoutClosingInputStream: Boolean option on the CSV reader.
https://github.com/doyaaaaaken/kotlin-csv#customize
This option's default value is false, and if true is set the input stream keep open (

[2022-07-23 10:16] tmdgusya opened #103 "Optimize writeNext Method"
Current `writeNext` function have unnecessary map method.
It cause unnecessary memory usage.

[code]

Performance test

![image](https://user-images.githubusercontent.com/57784077/180600685-1624b5d6-a0ac-4095-b8af-201288977132.png)

Result : Java Heap Space out error

---------

Remove unnecessary map method.

[code]

Performance test

![image](https://user-images.githubusercontent.com/57784077/18

[2022-07-23 10:24] tmdgusya commented on #103
In the past, an error occurred when processing 10 million data, but now 100 million data can be processed.

[2022-07-23 10:50] tmdgusya commented on #103
Before fixed it
![image](https://user-images.githubusercontent.com/57784077/180601995-998ae48b-f5ba-46e0-b0f7-665c2fe1e3bd.png)

---
After fixed it

![image](https://user-images.githubusercontent.com/57784077/180601938-926e9103-cbe0-4d62-934d-c2d7c1237dbf.png)

[2022-07-24 15:02] #103 closed

[2022-07-24 23:22] doyaaaaaken commented on #103
released in [v1.5.0](https://github.com/doyaaaaaken/kotlin-csv/releases/tag/1.5.0) 🚀

[2022-07-31 17:32] Thijsiez commented on #100
I'm currently using `readNext()` in 2 ways;
- to read the headers only
- to read the first X rows to grab a preview of the CSV file, without needing any of the checks that happen when reading the whole file

If `readNext()` were to be removed, I'd love to have the option to call something like `readColumnNames()` or similar, which ideally also checks for duplicates. Even better, being able to call

[2022-07-31 17:42] Thijsiez commented on #97
Not sure if this would work for your use case, but maybe writing an extension function that does something like the following would be helpful
`val output = String(outputStream.toByteArray(), Charsets.UTF_8)`

[2022-08-01 11:20] doyaaaaaken commented on #97
@Thijsiez Good solution!! Thanks!

[2022-08-07 09:25] doyaaaaaken commented on #97
Released in [version 1.6.0](https://github.com/doyaaaaaken/kotlin-csv/releases/tag/1.6.0).
Thanks, @Thijsiez !! 😄

[2022-08-07 09:25] #97 closed

[2022-08-18 20:46] rezammalik opened #109 "The binary version of its metadata is 1.6.0, expected version is 1.4.2."
**Describe the bug**
I am trying to pull down the dependency using this with Kotlin 1.6.10 and get this error

` Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.6.0, expected version is 1.4.2.`

**To Reproduce**
Added this to my build.gradle.kts file

`implementation("com.github.doyaaaaaken:kotlin-csv-jvm:1.6.0")`

**Expected behavior**
I should

[2022-08-18 20:51] #109 closed

[2022-08-31 18:19] pkreddy04 opened #110 "Seeing a parsing error when quotes within text"
**When running this file through the parser**
`ID|Headline|State|Billable_Indicator|Ticket_Type|CR_Source|Severity|Priority_Requested|Submitter|AssignTo|Owner|BusinessArea|ChangeType|DateSubmitted|DateClosed
RQ_SS041348|WGHT tements- Change "Grains" to "Members"|01A-SW_Processing|Y|CR|External|3-Medium||Shagh Just|Lios, Yun |Shagh, Just |11.00-Unknown|CHIP|3/15/2022 5:53:44 PM|`

**Seeing an error

[2022-09-01 07:31] doyaaaaaken commented on #110
@pkreddy04
Hi, could you show me how to reproduce this error?
What [options of csvReader](https://github.com/doyaaaaaken/kotlin-csv#customize) did you use?
Please show me a code snippet.